/*О НАС*/
.about-section {
    width: 1150px;
}

.about {
    width: 1051px;
}

.about-head {
    width: 51px;
    height: 25px;

    color: rgb(18, 18, 18);
    font-size: 18px;
    line-height: 25px;
    text-align: left;
    text-transform: uppercase;
}

.about__text {
    margin-top: 30px;
    width: 1048px;
    color: rgb(18, 18, 18);
    font-size: 45px;
    line-height: 61px;
    text-align: left;
}

.about__btn {
    margin-top: 30px;
    display: block;
    width: 255px;
    height: 67px;

    color: rgb(255, 255, 255);
    background: rgb(173, 24, 24);
    font-size: 20px;
    line-height: 67px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

/*Планшет*/
@media (max-width: 1199px) {

    .about-section {
        margin-top: 120px;
        width: 100%;
        padding-left: 17px;
    }

    .about {
        width: 693px;
    }

    .about__text {
        width: 690px;
        font-size: 35px;
        line-height: 48px;
    }
}

/*Telefon*/
@media (max-width: 767px) {

    .about-section {
        margin-top: 80px;
        width: 100%;
        padding-left: 12px;
        padding-right: 17px;
    }

    .about {
        width: 100%;
    }

    .about__head {
        width: 40px;
        height: 19px;
        font-size: 14px;
        line-height: 19px;
    }

    .about__text {
        width: 100%;
        font-size: 22px;
        line-height: 30px;
    }
}