/*КОНТАКТЫ*/
.contacts-section {
    width: 1150px;
    margin-bottom: 150px;
}

.contacts__head {
    margin-bottom: 74px;
    width: 90px;
    height: 25px;
    line-height: 25px;

    color: rgb(18, 18, 18);
    font-size: 18px;
    text-align: left;
    text-transform: uppercase;
}

.contacts__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contacts__number {
    position: relative;
    display: block;
    height: 60px;
    line-height: 60px;

    color: rgb(18, 18, 18);
    font-size: 60px;
    text-align: left;
    text-decoration: none;
}

.contacts__mail {
    position: relative;
    display: block;
    height: 60px;
    line-height: 60px;

    text-decoration: none;
    color: rgb(18, 18, 18);
    font-size: 60px;
    text-align: left;
}

.contacts__number:before,
.contacts__mail:before {
    position: absolute;
    top: -39px;
    left: -6px;
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}

.contacts__number:before {
    background-image: url(../resources/contact.png);

}

.contacts__mail:before {
    background-image: url(../resources/mail.png);
}

.contacts__number:hover,
.contacts__mail:hover {
    opacity: 0.5;
    border-bottom: 2px solid rgba(0, 0, 0, 5);
}


/*Планшет*/
@media (max-width: 1199px) {
    .contacts-section {
        width: 100%;
        padding: 120px 15px 80px 15px;
        margin-bottom: 0;
    }
    
    .contacts__number {
        font-size: 45px;
    }

    .contacts__mail {
        font-size: 45px;
    }
}


/*Telefon*/
@media (max-width: 767px) {
    .contacts-section {
        width: 100%;
        padding: 80px 11px;
        margin-bottom: 0;
    }

    .contacts__block {
        flex-direction: column;
        gap: 58px;
    }

    .contacts__number {
        display: block;
        height: 46px;
        font-size: 35px;
        line-height: 46px;    
    }

    .contacts__mail {
        display: block;
        height: 46px;
        font-size: 35px;
        line-height: 46px;
    }

    .contacts__number:before,
    .contacts__mail:before {
        top: -38px;
        left: -2px;
        width: 18px;
        height: 18px;
    }
}