/*Футер*/
footer {
    position: relative;
    margin: 0 auto;
    padding: 60px 0 30px 0;
    background: rgb(18, 18, 18);
}

.footer-navigation {
    margin-top: 60px;
    margin: 0 auto;
    margin-bottom: 87px;
    width: 450px;
    height: 25px;
}

.nav-footer {
    display: inline-block;
    margin-right: 52px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 25px;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
}

.nav-footer:last-child {
    margin-right: 0;
}

.nav-footer:hover {
    opacity: 0.5;
}

.studio {
    left: 509px;
    height: 27px;
    line-height: 27px;

    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
}

.studio:hover {
    opacity: 0.5;
}