/*Футер*/
footer {
    margin: 0 auto;
    padding: 60px 0 30px 0;
    background: rgb(18, 18, 18);
}

.footer-navigation {
    margin: 0 auto;
    margin-bottom: 87px;
    display: flex;
    justify-content: space-between;
    width: 450px;
}

.nav-footer {
    display: block;
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 25px;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
}

.nav-footer:hover {
    opacity: 0.5;
}

.studio {
    height: 27px;
    line-height: 27px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
}

.studio:hover {
    opacity: 0.5;
}



/*Telefon*/
@media (max-width: 767px) {
    footer {
        padding: 30px 0 26px 0;
    }

    .footer-navigation {
        margin-bottom: 41px;
        width: 281px;
    }

    .nav-footer {
        font-size: 12px;
        line-height: 16px;
    }

    .studio {
        height: 18px;
        line-height: 18px;
        font-size: 13px;
        text-align: center;
    }
}