.reviews-section {
    width: 1150px;
}

.reviews-head {
    display: block;
    width: 71px;
    height: 25px;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #121212;
}

.reviews-box {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.review {
    margin-bottom: 80px;
    width: calc(50% - 25px);
}

.review-last {
    width: 75%;
}

.review__title {
    height: 61px;
    font-size: 45px;
    line-height: 61px;
    color: #000;
}

.review__text {
    margin-top: 14px;
    font-size: 22px;
    line-height: 30px;
    color: #000;
}


/*Планшет*/
@media (max-width: 1199px) {
    .reviews-section {
        width: 100%;
        margin-top: 125px;
        padding-left: 16px;
        padding-right: 15px;
    }
    
    .reviews-head {
        width: 71px;
        height: 25px;
        font-size: 18px;
        line-height: 25px;
    }
    
    .review {
        width: calc(50% - 5px);
    }

    .review-last {
        width: 75%;
    }
    
    .review__title {
        height: 48px;
        font-size: 35px;
        line-height: 48px;
    }
    
    .review__text {
        margin-top: 25px;
        font-size: 20px;
        line-height: 27px;
    }
}

/*Telefon*/
@media (max-width: 767px) {
    .reviews-section {
        margin-top: 80px;
        width: 100%;
        padding-left: 13px;
        padding-right: 12px;
    }
    
    .reviews-head {
        width: 56px;
        height: 19px;
        font-size: 14px;
        line-height: 19px;
    }
    
    .reviews-box {
        margin-top: 22px;
    }
    
    .review {
        width: 100%;
    }

    .review-last {
        width: 100%;
    }
    
    .review__title {
        height: 34px;
        font-size: 25px;
        line-height: 34px;
    }
    
    .review__text {
        margin-top: 10px;
        font-size: 16px;
        line-height: 22px;
    }
}